<h3>Edit student</h3>
<p>
  <a mat-button routerLink="/students">
    <b>Back to students</b>
  </a>
</p>
<form [formGroup]="studentsForm" (ngSubmit)="onSubmit(studentsForm.getRawValue())">

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Neptun code</mat-label>
      <input matInput placeholder="Neptun code" formControlName="neptunCode">
      <mat-error *ngIf="neptunCode?.invalid">{{getNeptunCodeErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="name?.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="email?.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Major</mat-label>
      <mat-select formControlName="major">
        <mat-option *ngFor="let major of majors" [value]="major">
          {{ Major2LabelMapping[major] }}
        </mat-option>
    </mat-select>
      <mat-error *ngIf="major?.invalid">{{getMajorErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type [disabled]="studentsForm.invalid">Update</button>
</form>
<p>
  Form Status: {{ studentsForm.status }}
</p>
