<h3>Create new teacher semester course</h3>
<p>
  <a mat-button routerLink="/teacher_semester_course">
    <b>Back to teacher semester course</b>
  </a>
</p>
<form [formGroup]="teacherSemesterCoursesForm" (ngSubmit)="onSubmit(teacherSemesterCoursesForm.value)">

  <div>
    <mat-form-field>
      <mat-label>Teacher</mat-label>
      <mat-select formControlName="teacherId">
          <mat-option *ngFor="let teacher of teachers$ | async" [value]="teacher.id">
            {{ teacher.name}}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="teacherId?.invalid">{{getTeacherIdErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Semester</mat-label>
      <mat-select formControlName="semesterId">
          <mat-option *ngFor="let semester of semesters$ | async" [value]="semester.id">
            {{ semester.name}}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="semesterId?.invalid">{{getSemesterIdErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Course</mat-label>
      <mat-select formControlName="courseId">
          <mat-option *ngFor="let course of courses$ | async" [value]="course.id">
            {{ course.name}}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="courseId?.invalid">{{getCourseIdErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type [disabled]="teacherSemesterCoursesForm.invalid">Create</button>
</form>
<p>
  Form Status: {{ teacherSemesterCoursesForm.status }}
</p>
